VM Host,VM Name,Power State,Mac Address
{% for vm, property in vmfacts.virtual_machines.items()  %}
{{ inventory_hostname }},{{ vm }},{{ property.power_state }},{{ property.mac_address }}
{% endfor %}

